ENV=dev
DB_HOST=localhost
DB_PORT=5432
DB_NAME=int1
DB_USER=username
DB_PASS=password
CLICKUP_SPACE_ID=sample
ASANA_WORKSPACE_ID=sample
TRELLO_BOARD_ID=sample
TRELLO_WEBHOOK_CALLBACK_URL=sample
CLICKUP_TEAM_ID=sample
RABBITMQ_URL=amqp://localhost:5672
BASECAMP_CLIENT_ID=sample
BASECAMP_REDIRECT_URI=http://localhost:3000/oauth/basecamp/callback
BASECAMP_PROJECT_ID=sample